<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navbar">
        <h1 id="page-title">Personal Blog</h1>
      </nav>
    </header>
    <main class="main">
      <% articles.forEach((article)=> {%>
        <div class="blog-item">
          <div class="blog-title">
            <a href="/article/<%= article.slug %>">
              <%= article.title %>
            </a>
          </div>
          <div class="blog-date">Published on: <%= article.date %>
          </div>
        </div>
        <% });%>
    </main>
    <footer class="footer"></footer>
  </div>
</body>

</html>