*,
::after,
::before {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  height: 100dvh;
  font-family: Arial, sans-serif;
  background-color: #f0fdf4;
  padding: 0;
}

.container {
  height: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h1 {
  color: #333;
}

.header {
  display: inline-block;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  background-color: #f0fdf4;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 4px;
  background-color: #bbf7d0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 8px;
}

.main {
  min-height: calc(100% - 176px);
  padding: 0 20px;
  background-color: transparent;
}

#article-header {
  text-align: center;
  margin-bottom: 20px;
}

#article-header h2 {
  /* font-size: 36px; */
  color: #333;
}

#article-header p {
  font-size: 18px;
  color: #777;
}

.article-body {
  font-size: 18px;
  color: #333;
  line-height: 1.8;
}

.article-body p {
  margin-bottom: 15px;
}

.meta-info {
  font-size: 14px;
  color: #888;
  margin-bottom: 30px;
}

.author {
  font-weight: bold;
  color: #333;
}

.edit-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
  right: 0;
}

.edit-button:hover {
  background-color: #45a049;
}

.footer {
  width: 100%;
  height: 60px;
  margin-top: 2dvh;
  background-color: #22c55e;
}
